@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.logo {
  font-size: 3rem;
  font-weight: bolder;
  cursor: pointer;
  font-family: 'Roboto Slab', serif;
}

body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #007cbac5;
  color: #fff;
  min-height: 10vh;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

li a {
  color: #fff;
  text-decoration: none;
  padding: 24px;
  font-size: 2rem;
  text-transform: uppercase;
}

li a:hover {
  background-color: #fff;
  color: #007cbac5;
  border-radius: 20px;
  text-decoration: overline;
}

.main-sec {
  background: -webkit-gradient(linear, left top, left bottom, from(#355f72d3), color-stop(#05273893), to(#010f16e5)), url("./img/main.jpg") center center/cover;
  background: linear-gradient(#355f72d3, #05273893, #010f16e5), url("./img/main.jpg") center center/cover;
  color: #fff;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-text {
  color: #e2e2e2;
  font-size: 4rem;
  line-height: 1.2em;
  text-shadow: 0em 0.1em 0.1em rgba(0, 0, 0, 0.4);
  background: rgba(66, 103, 121, 0.603);
  width: 90%;
  margin: 2rem auto;
}

.small-text {
  color: #e2e2e2;
  font-size: 2rem;
  line-height: 1.2em;
  text-shadow: 0em 0.1em 0.1em rgba(0, 0, 0, 0.4);
  background: rgba(66, 103, 121, 0.637);
  margin: 1rem 0rem;
  width: 90%;
  margin: auto;
}

.sev {
  min-height: 80vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#32647ce7), to(#355f72d3));
  background: linear-gradient(#32647ce7, #355f72d3);
  color: #fff;
}

.sev img {
  width: 300px;
  height: 300px;
  margin-top: 1rem;
}

.sev h1 {
  background-color: #007cbac5;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 5vh;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.sev .container-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about {
  background: -webkit-gradient(linear, left top, left bottom, from(#32647ce7), to(#355f72d3));
  background: linear-gradient(#32647ce7, #355f72d3);
  color: #fff;
  min-height: 80vh;
}

.about h1 {
  background-color: #007cbac5;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 5vh;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.about p {
  font-size: 2rem;
  padding: 1rem;
  width: 80%;
  background: #426779;
  margin: 2rem auto;
}

.about .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about img {
  width: 400px;
  height: 300px;
}

.contact h1 {
  background-color: #007cbac5;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 5vh;
  font-size: 4rem;
  margin-bottom: 1rem;
  width: 100%;
}

.contact img {
  width: 100%;
}

footer {
  min-height: 10vh;
  background-color: #007cbac5;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer P {
  font-size: 2.5rem;
}

footer a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  text-decoration: none;
}

footer i {
  font-size: 3rem;
  margin: 1rem;
  cursor: pointer;
}

footer .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ham {
  display: none;
}

@media only screen and (max-width: 790px) {
  nav {
    display: none;
  }
  .ham {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
  }
  .ham i {
    padding: 1rem;
    color: #fff;
    font-size: 4rem;
    cursor: pointer;
  }
  .navbar-troggle {
    min-height: 30rem;
    display: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-troggle ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .big-text {
    width: 90%;
    margin: auto;
  }
  .small-text {
    width: 90%;
    margin: 2rem auto;
  }
  footer p {
    padding: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */